.sidebar-container {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #1f2937; /* Example color */
  padding: 2rem;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-header {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 2.5rem;
  color: #ffffff;
}

.divider {
  width: 100%;
  border: 0;
  height: 1px;
  background: #cccccc; /* Example color for the line */
  margin: 1rem 0;
}

.sidebar-navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar-link {
  padding: 0.5rem;
  text-align: right;
  color: #ffffff;
  transition: color 0.3s;
  cursor: pointer;
}

.sidebar-link:hover {
  color: #cccccc;
}

.sidebar-link.active {
  color: #ff0000; /* Example color for active link */
}

.new-sheet-input {
  border: 1px solid #cccccc;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.add-sheet-button-container {
  text-align: center;
}

.add-sheet-button {
  background-color: #0077cc; /* Example color */
  color: #ffffff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

.add-sheet-button:hover {
  background-color: #0055aa; /* Example color on hover */
}
